

body {
    font-family: sans-serif;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1201px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        width: 100% !important;
    }
}

.hidden {
    display: none;
}

#weatherSection {
    background-color: lightgoldenrodyellow;
}

#clothesSection {
    background-color: orange;
}

#clothesSection img {
    height: 118px;
}

#forecastSection {
    background-color: red;
    display: inline-block;
}

.forecastChunk {
    width: 20%;
    /* padding-right: 0.5%; */
    float: left;

    /* TODO - add grunt/watch/less stuff here... */
}

.forecastChunk.frigid { background: linear-gradient(transparent, white); }
.forecastChunk.freezing { background: linear-gradient(transparent, #cbe8ff); }
.forecastChunk.colder { background: linear-gradient(transparent, #a5d8ff); }
.forecastChunk.cold { background: linear-gradient(transparent, #a1e5fb); }
.forecastChunk.cool { background: linear-gradient(transparent, #97ddff); }
.forecastChunk.warm { background: linear-gradient(transparent, #55d8ff); }
.forecastChunk.hot { background: linear-gradient(transparent, #fbefbf); }
.forecastChunk.hotter { background: linear-gradient(transparent, #fba892); }
